.hello_form
  .sub_header
    Help
  .col-1.text-area
  .col-2
    Hello! Dear friend, i'm trying to do this project better. I will be glad to see your feedback. Your opinion is important for me. Help me to improve it. You can report about bugs or just send some ideas using contact information provided below
  .col-1
    skype:
  .col-2
    hunter_of_sg
  .col-1
    email:
  .col-2
    skorodumov.eugene@gmail.com